.author-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.author-name {
  font-size: 1.3em;
}

@media screen and (max-width: 550px) {
  .author-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.author-name {
  font-size: 1.2em;
  font-weight: 300;
}

}
